.dashboard{
    display:flex;
    flex-direction:column;
}
.content{
    display:grid;
    grid-template-columns:2fr 1fr;
    gap:24px;
    align-items:start;
}

.leftColumn{
    display:flex;
    flex-direction:column;
    gap:24px;
    height: 100%;
}

.rightColumn{
    display:flex;
    flex-direction:column;
    gap:24px;
    height: auto;
    /* margin-top: 25px */
    margin-top: -25px;
}
